//
//  InternalConfiguration.xcconfig
//  MultiEnvironmentLearning
//
//  Created by MissSunRise on 2021/3/6.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
#include "Pods/Target Support Files/Pods-MultiEnvironmentLearning/Pods-MultiEnvironmentLearning.internal.xcconfig"

PRODUCT_NAME = 多环境

PRODUCT_BUNDLE_NAME = $(PRODUCT_NAME) Internal

GCC_PREPROCESSOR_DEFINITIONS = INTERNAL=1

